{% extends "base.html" %}

{% block title %}
Send Email
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'send_email' %}">
    {% csrf_token %}
    <p>Subject: <input type="text" name="subject"> </p>
    <p>Body: <textarea cols="50" rows="10" name="body"></textarea></p>
    <p><select name="user">
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
        {% endfor %}
    </select> </p>
    <button>Send</button>
    </form>
{% endblock %}