{% extends "base.html" %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
{{ content }}
    {% if user.is_authenticated %}
        {{ user.first_name }}
        {% for group in user.groups.all %}
            {% if group.name == "Student" %}
                {{ "is student" }}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% for category in categories %}
    <p>
        <a href="{% url 'category' category_id=category.id %}">{{ category.name }}</a>
        <a class="btn btn-danger" href="{% url 'delete-category' category_id=category.id %}">
            Delete</a>
    </p>
    {% endfor %}

    <form action="{% url 'create-category' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Category Name"
               name="category_name">
        <button>Add</button>
    </form>

{% endblock %}